@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:100,200,300,400,500,600,700|Roboto+Slab:100,200,300,400,500,600,700');

/*-----------------------------------------------------Colors*/

.ui-menu-color-home {
    background-color: #ff8c00;
}

.ui-menu-color-music {
    background-color: #2061a5;

}

.ui-menu-color-customers {
    background-color: #a4142d;
}

.ui-menu-color-contact {
    background-color: #696969;
}

.bg-color-band-info,
.bg-color-music-info,
.bg-color-customers-info,
.bg-color-contact-info {
    background-color: #ffffff;
}

.bg-color-home {
    background-color: #ff8c00;
}

.bg-color-music {

    background-color: #2061a5;

}

.bg-color-customers {
    background-color: #fff8dc;
}

.bg-color-contact {
    background-color: #ffffff;
}

#strong-color {
    color: #ff8c00;
}

#strong-color-free {
    color: #ff4500;
}

/*-----------------------------------------------------Miscellaneous/Styles/Values/Bovinators*/

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-styles {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    color: #f0ffff;
    padding-top: 16px;
    padding-bottom: 8px;
}


.band-info-item,
.band-music-item,
.band-customers-item {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.picture-music-info {
    width: 200px;
    height: 140px;
    margin: 4px 8px 0px 0px;
    float: left;
    box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);

}

.picture-customers-info {
    width: 275px;
    height: 183px;
    margin: 5px 10px 5px 0px;
    float: left;
    box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);

}

.picture-contact-info {
    width: 100%;
    height: 380px;
    margin-top: 15px;
}

.inline-block {
    display: inline-block;
}

.list-inline li {
    display: inline-block;
    padding: 0px;

}




/*-----------------------------------------------------Section Headings*/

.section-heading-music-info,
.section-heading-band-info,
.section-heading-customers-info {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
}


.section-heading-home,
.section-heading-music {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #f0ffff;
}

.section-heading-customers {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #000000;
}

.section-heading-contact {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #000000;
}

/*-----------------------------------------------------Video/Audio/Images-styles*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-style {
    margin-top: 10px;
    margin-bottom: 15px;
}

.video-border {
    margin: 0 auto;
    border: 8px outset #000000;
}

iframe {
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

#video-padding {
    padding-bottom: 16px;
}


figure {
    display: inline-block;
    margin: 10px;
}

figure .image-style {
    vertical-align: top;
    width: 160px;
    height: 140px;
}

figure .audio-bar {
    text-align: center;
    width: 160px;

}

audio {
    background-color: blue;
}

.shadow-box {
    box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);
}

/*-----------------------------------------------------Headings*/

header {
    margin: 0;
}

.logo {
    background: url("../images/a-logo-cropped.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 360px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    /*This transition is only working on the contact page logo.*/
}





.picture-main,
.picture-contact {
    background: url("../images/a-hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 360px;
    position: relative;

}

.picture-music {
    background: url("../images/animals-bw-tall.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    min-height: 360px;

}

.picture-customers {
    background: url("../images/a-hero-three.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 360px;
    position: relative;

}


/*-----------------------------------------------------Navigation Styles*/

#navbar {
    position: absolute;
    bottom: 0;
    width: 100%;

}

#nav-list {
    margin: 0;
    padding: 0;

}

#border-home {
    border-style: solid;
    border-width: 4px 4px 4px 0px;
    border-color: #000000;
}

#border-music {
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: #000000;
}

#border-customers {
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: #000000;
}

#border-contact {
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: #000000;
}


.menuitem {
    height: 86px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    height: 90px;
    color: #ffffff;
    text-decoration: none;
}

.menuitem a i {
    padding-top: 18px;
    font-size: 18px;
    color: #f0ffff;
    display: block;
}

.menuitem span {
    width: 100%;
    padding-top: 3px;
    font-family: "Mukta Malar", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.hvr-rectangle-out {
    background: none;



}

/*--------------------------------------------------------Contact*/

.center-form {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 75%;
}

.form-control {
    font-family: "Mukta Malar", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #a4142d;
    color: #f0ffff;
}

/*-----------------------------------------------------Hover*/

.hvr-rectangle-out:before {
    background: rgba(0, 0, 0, 0.2);



}

.social-links li a i:hover {
    background: #4169e1;


}

.wiki-link:hover {
    color: #4169e1;
    text-decoration: none;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.social-links-quotes i:hover {
    background: #4169e1;


}

/*-----------------------------------------------------Footer*/

footer {
    background-color: #696969;
    color: #f0ffff;
    margin: 0;
    min-height: 93px;
}

footer .font-style {
    font-family: "Mukta Malar", sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding-top: 5px;
}

footer .list-pdf i {
    color: #f0ffff;
    font-size: 12px;
    padding-left: 4px;
    text-align: center;
}



footer .list-pdf i:hover {
    color: #4169e1;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

#footer-margin {
    margin: 5px 8px 0px 8px;
}

.wiki-link {
    color: #ff8c00;
    text-decoration: underline;
}

#social {
    padding-bottom: 12px;

}

/*-----------------------------------------------------Social Links*/

.social-links {
    padding-top: 0;
    padding-bottom: 6px;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    color: #f0ffff;
    background-color: #736b6b;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;

}


.social-links-quotes i {

    width: 32px;
    height: 32px;
    padding: 10px 0;
    margin-left: 25px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    color: #f0ffff;
    background-color: #a4142d;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

}


/*-----------------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 15px 10px;
        float: none;
        display: table-cell;
    }
}

@media(max-width: 767px) {
    #border-home {
        border-style: solid;
        border-width: 4px 4px 4px 0px;
        border-color: #000000;
    }
    #border-music {
        border-style: solid;
        border-width: 4px 0px 4px 0px;
        border-color: #000000;
    }
    #border-customers {
        border-style: solid;
        border-width: 0px 4px 4px 0px;
        border-color: #000000;
    }
    #border-contact {
        border-style: solid;
        border-width: 0px 0px 4px 0px;
        border-color: #000000;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    #border-home {
        border-style: solid;
        border-width: 4px 4px 4px 0px;
        border-color: #000000;
    }
    #border-contact {
        border-style: solid;
        border-width: 4px 0px 4px 0px;
        border-color: #000000;
    }
}


@media(max-width: 375px) {
    .section-heading-music {
        text-align: center;
    }
}

@media(max-width: 375px) {
    .section-heading-customers {
        text-align: center;
    }
}

@media(max-width: 411px) {
    #pad-none {
        padding-left: 0;
    }
}


@media(max-width: 1024px) {
    .social-links-quotes i {
        margin-left: 15px;
    }
}

@media(max-width: 376px) {
    .section-heading-customers {
        font-size: 18px;
    }
}


@media(min-width: 1025px) {
    .picture-customers-info {
        width: 275px;
        height: 197px;
    }
}

@media(max-width: 767px) {
    .picture-customers-info {
        margin-right: 10px;
        float: left;
    }
}

@media(max-width: 410px) {
    .picture-customers-info {
        margin: 10px 15px;
        float: left;
    }
}

@media(max-width: 359px) {
    .picture-customers-info {
        margin: 10px 0;
        float: left;
    }
}


@media(min-width: 1025px) {
    .contact-styles {
        margin: 0px 100px;
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    .audio-styles {
        margin-left: 55px;
    }
}

@media(max-width: 359px) {
    figure .image-style {
        vertical-align: top;
        width: 140px;
        height: 100px;
    }

    figure .audio-bar {
        text-align: center;
        width: 140px;

    }

}


@media(min-width: 767px) {
    figure .image-style {
        vertical-align: top;
        width: 180px;
        height: 155px;
    }

    figure .audio-bar {
        text-align: center;
        width: 180px;

    }

}

@media(min-width: 1680px) {
    figure .image-style {
        vertical-align: top;
        width: 200px;
        height: 170px;
    }

    figure .audio-bar {
        text-align: center;
        width: 200px;

    }
}

@media(max-width: 359px) {
    
#hidden-xxs{
    display: none;
}
}
/*------------------------------------------------------Keyframes*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}